.Apps-wrapper {
  position: relative;
  height: 100%;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}

.App-header {
  display: flex;
  justify-content: space-between;
  padding: 7px 10px;
  border-bottom: 1px solid #d6d6d6;

  div {
    font-size: 16px;
    line-height: 1.08824;
    letter-spacing: .01em;
    text-transform: uppercase;
    color: #fff;

    .thick {
      font-weight: 400;
      color: #ff3b30;
    }
    .thin {
      font-weight: 100;
    }
  }

  a {
    font-size: 14px;
    color: #6bf;
    font-weight: 400;
    text-decoration: none;
  }
}

.App-container {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #24292e;
}
.Cards-container { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 10px 0 55px;
  box-sizing: border-box;
}
.Card-container {
  display: flex;
  width: 30%;
  height: 23%;
  margin: 1%;
  border: 2px solid #fff;

  .Card-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #24292e;

    i {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      font-size: 48px;  
    }
  }

  .Card-box-opened {
    animation: opening 1s;
    background: rgb(100,210,255);
    color: #fff;
  }

  &.Card-opened {
    .Card-box-opened {
      background: rgb(255,59,48);
    }

  }
}

@keyframes opening {
  0% {
    color: transparent;
    transform: rotateY(180deg);
  }
  99.9% {
    color: #fff;
  }
  100% {
    color: #fff;
    transform: rotateY(0deg);
  }
}

.App-copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
  font-size: 12px;
  margin-bottom: 5px;
  text-align: center;
}